#dpierwszy {
    background-color: orange;
}

#ddrugi {
    background-color: skyblue;
}

#dtrzeci {
    background-color: palevioletred;
}

#dczwarty {
    background-color: lime;
}

div {
    display: inline-block;
    width: 20%;
    height: 20%;
}