body {
    font-size: 0px;
}

div {
    display: inline-block;
    width: 25%;
    height: 150px;
    font-size: 15px;
    overflow: auto;
}

#dpierwszy {
    background-color: orange;
}

#ddrugi {
    background-color: skyblue;
}

#dtrzeci {
    background-color: palevioletred;
}

#dczwarty {
    background-color: lime;
}

