a {
    color: aquamarine;
}

a:visited{
    color:violet;
}

a:hover{
    color:red;
}

a:active{
    color:darkkhaki;
}

a:focus{
    color: green;
}

a:lang(pl){
    background-color: yellow;
}

p:target{
    background-color: lime;
}

#kontener p:first-child {
    background-color: lightcoral;
}

#kontener p:last-child {
    background-color: lightgoldenrodyellow;
}

#kontener div:only-child {
    background-color: lightgreen;
} 